# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Composer
composer.phar
/vendor/

# Lumen Projects
vendor
Homestead.json
Homestead.yaml
.env

# Latex Files
*.aux
*.log
*.out
*.pdf
*.gz

# Lecture Files
~$*.pptx

# Vagrant Files
vm_build.log
.vagrant

# C++ Files
*.o
*.out
*.log
*.nfs000000000002c16f00000fe4

# Bridges Files
/bridges/
/bridges*/
/curl/
/curl*/
*.zip
/include/*
